.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/F99392A0/sources/prop/85563E19
.Rproj.user/F99392A0/pcs/windowlayoutstate.pper
.Rproj.user/F99392A0/sources/prop/85563E19
.Rproj.user/F99392A0/sources/session-b9d0c222/A321DEE6
.Rproj.user/F99392A0/sources/session-b9d0c222/A321DEE6-contents
.Rproj.user/F99392A0/sources/session-b9d0c222/lock_file
.Rproj.user/
